body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.profile-pic{
  height: 250px;
  border-radius: 40%;
}

.middle-container {
  margin: 100px 0;
}
.logo{
  height: 150px;
  padding: 30px 15px;
  border-radius: 50%;
}
.javascript-logo, .java-logo{
  height: 150px;
  padding: 30px 15px;
}

.bottom-container {
  background-color: #E4F9F5;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #1f1f1f;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn{
  background-color: #fff;
  border : 2px solid #66BFBF;
  border-radius: 0.6em;
  color: #66BFBF;
  font-family:"Montserrat";
  padding: 1.25rem;
  font-size: 20px;
  font-weight: 400;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.btn:hover{
  color:white;
  outline: 0;
  box-shadow: 0 0 40px 40px lightgreen inset;
  border: lightgreen;
}

.social-icon {
  margin: 20px 10px;
}
.footer-link-fb, .footer-link-fb:hover{
  color:#0077B5;
}
.footer-link-tw, .footer-link-tw:hover{
  color: #1DA1F2;
}
.footer-link-git, .footer-link-git:hover{
  color: black;
}